body{
    position: relative;
    margin: 0;
    background-color: #19191b;
}
p{
    color: white;
}
header{
    position: fixed; /*- ЕСЛИ БУДЕТ МЕШАТЬ, ОТКЛЮЧАТЬ ТУТ! -*/
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19191b;
    z-index: +1;
}
.logo{
    width: 27vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.menu{
    width: 43vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 160px;
}
header>div>img, .bot>div>img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
header>div.menu>a{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
    text-decoration: none;
}
.contact{
    width: 25vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 60px;
}
header>div.contact>button{
    width: 157px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
    background-color: #19191b;
}
.top{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-text{
    display: block;
    justify-content: center;
    align-items: center;
    /*width: 50vw;*/
    /*height: 90vh;*/
    margin: 240px 120px;
}
.top>div>h1{
    color: #FFF;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; /* 105% */
    margin: 0 0 40px 0;
}
.top>div>p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    margin: 0;
    width: 36.3vw;
}
.top>div>a{
    text-decoration: none;
}
.top>div>a>button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #5454D4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.top>div.top-img{
    margin: 0 40px 0 0;
}
.mid-1{
    width: 100vw;
    height: 95vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.mid-1-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 140px;


}
.mid-1-text>h2{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
    width: 50vw;
    height: 140px;
    margin: 0 50px 50px 120px;
}
.mid-1-text>p {
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    width: 50vw;
    height: 140px;
    margin: 0 120px 50px 0;
}
.mid-1-img{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-2{
    width: 100vw;
    height: 95vh;
    display: block;
    justify-content: center;
    align-items: center;
}
.empty{
    width: 100vw;
    height: 10vh;
}
.mid-2-text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-2-text>h2{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
    width: 50vw;
    height: 15vh;
}
.mid-stuff-1{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stuff-font>h3{
    color: #FFF;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.stuff-font>p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
}
.stuff-box{
    text-align: center;
    width: 21vw;
    height: 30vh;
    margin: 50px;
}
.purple{
    background-color: #5454D41A;
}
.red{
    background-color: #F040371A;
}
.yellow{
    background-color: #FEDC5A1A;
}
.stuff-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 50%;
}
.center{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
}
.mid-3{
    width: 100vw;
    height: 100vh;
}
.empty-2{
    width: 100vw;
    height: 25vh;
}
.mid-3>h1{
    color: #FFF;
    font-family: Lato;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 120px;
    height: 7vh;
}
.port-bord{
    width: 336px;
    height: 253px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 26px solid #1E1E20;
    background-color: #1E1E20;
    border-radius: 15px;
}
.port-bord-l{
    margin: 0 0 0 120px;
}
.port-bord-r{
    margin: 0 120px 0 0;
}
.mid-3-port{
    height: 73vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    width: 100vw;
    height: 45vh;
    background-color: #1E1E2080;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>div>h1{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 120px;
}
footer>div>button{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 201px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5454D4;
}
.footer-button{
    width: 30vw;
    margin: 0 0 0 190px;
}
.bot{
    width: 100vw;
    height: 18vh;
    display: flex;
    justify-content: space-between;
}

.Rights{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
    margin: 45px 120px;
}
.bot.logo{
    margin-top: 50px;
}